

  #total_card{

  }

  #total_card p{
  
   
  }

  #total_card img{
    border-style:outset;
    border-width: 1px;
    width: 9.7rem;
    height: 7.7rem;
    border-radius: 1rem;

  }

  #the_card{
    box-shadow: 15px 11px 5px 0px rgba(207,205,207,1);
   
    border-style:outset;
    border-radius: 2rem;
    border-width: 1px;
    background-color: #d7c8af;
    height: 14rem;
    width: 19rem;
    transition: all 0.2s ease-in;
  }
  #the_card:hover{
    transform: translateY(-0.5rem)
  }

  #im_temp{
    /* background-color: aqua; */
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
  }

  #temp{
    /* background-color: aquamarine; */
    font-size: small;
    text-decoration: none;
    width: 9rem;
  }
  
  #card_div_name{
    /* background-color: blue; */
    margin-top: 0.5rem;
  }

  #div_weight{
    /* background-color: blueviolet; */
    float: left;
    display: flex;
    margin-top: 1rem;
    margin-left: 1.6rem;
  }