
#detail{
    /* background-color: black; */
} 
#detail p {
   
}

#detail_sin_navBar{
    background-color: #F7ECDE;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_int_name{
    /* background-color: aqua; */
    margin-top: 1.2rem;
    
}
#img_y_datos{
    background-color:#E9DAC1;
    box-shadow: 15px 11px 5px 0px rgba(207,205,207,1);
    border-style:outset;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    height: 30rem;
    width: 60rem;
    margin-bottom: 2.1rem;
}

#img_div{
    /* background-color: blue; */
    width: 35rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img_div img{
    border-radius: 1rem;
    height: 23rem;
    width: 33rem;
}

#div_delete_detail{
    height: 26rem;
    width: 8rem;
    /* background-color: rgb(165, 165, 210); */
    display: flex;
    justify-content: flex-end;
}
#delete_detail{
   height: 1.6rem;
   width: 4.3rem;
}


#detail_datos{
    /* background-color: rgb(66, 87, 87); */
    width: 12rem;
    height: 8rem;
    text-align: left;
    margin-top:3rem;
}

#detail_temperament{
    /* background-color: blueviolet; */
    height: 16rem;
    width: 12rem;
    text-align: left;
   
}
#detail_temperament p{
    width: 20%;
}


#datos_y_temperament{
    display: flex;
    flex-direction: column;
}

#detail_div_footer_externo{
    background-color: #9ED2C6;
    height: 2rem;

}

#detail_div_footer_interno{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    width: 80rem ;
}