
#detail_div_total{
    /* background-color: rgb(254, 193, 8); */
    height: 99.5vh;
    display: flex;
    flex-direction: column;
} 
    #detail_div_interno1_navBar{
        /* background-color: brown; */
    }
    #detail_div_interno2_total_card{
        /* background-color: blueviolet; */
        font-size:large;
        height: 36rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #detail_div_interno2_card{
            background-color: #E9DAC1;
            border-radius: 2rem;
            border-style:groove;
            box-shadow: 15px 11px 5px 0px rgba(207,205,207,1);
            width: 68rem;
            height: 33rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
            #detail_div_interno2_card img{
                height: 26rem;
                width: 39rem;
                border-radius: 2rem;
            }
            #detail_div_interno2_card_name{
                /* background-color: darkgoldenrod; */
                width: 65rem;
                height: 3rem;
            }
            #detail_div_interno2_card_datosYbutton{
                /* background-color: cornflowerblue; */
                width: 65rem;
                height: 28rem;
                display: flex;
            }
                #detail_div_interno2_card_datosYbutton_img{
                    /* background-color: aqua; */
                    height: 27rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #detail_div_interno2_card_datosYbutton_content_temperamentsEinfo{
                    /* background-color: brown; */
                    width: 19.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                    #detail_div_interno2_card_datosYbutton_info{
                        /* background-color: coral; */
                        height: 7.5rem;
                        width: 14rem;
                        text-align: start;
                    }
                    #detail_div_internao2_card_datosYbutton_temperaments{
                        /* background-color: darkgreen; */
                        width: 14rem;
                        height: 18rem;
                        text-align: start;
                    }
                #detail_div_interno2_card_datosYbutton_button{
                    /* background-color: aquamarine; */
                    height: 25rem;
                    display: flex;
                    flex-direction: column;
                }
                    #detail_div_interno2_card_datosYbutton_button_delete{
                        /* background-color: blue; */
                        height: 10rem;
                        display: flex;
                    }
                    #detail_div_interno2_card_datosYbutton_button_delete button{
                       height: 1.5rem;
                       transition: all 0.2s ;
                    }
                    #detail_div_interno2_card_datosYbutton_button_delete button:hover{
                        height: 1.7rem;
                        background-color: red;
                        
                    }
                    #detail_div_interno2_card_datosYbutton_button_backHome{
                        /* background-color: blueviolet; */
                        height: 14rem;
                        display: flex;
                        align-items: flex-end;
                    }
                    #detail_div_interno2_card_datosYbutton_button_backHome button{
                        height: 1.5rem;
                        transition: all 0.2s ;
                    }
                    #detail_div_interno2_card_datosYbutton_button_backHome button:hover{
                        height: 1.6rem;
                        transform:translateX(1rem);
                    }
    #detail_div_interno_3_footer{
        background-color: rgb(232, 10, 191);
        
    }