#filters2{
    /* background-color: aqua; */
    height: 2rem;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#filters2{
    /* visibility: hidden; */
}