
#footer_div_externo{
    /* background-color: bisque; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 2rem;
    
}

#footer_div_interno{
    /* background-color: aqua; */
    height: 1.5rem;
    width: 80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer_div_contacts{
    /* background-color: blueviolet; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    width: 14rem;
}

#footer_img_linkedin{
    height: 1.7rem;
}

#footer_img_git{
    height: 1.3rem;
}