#nav{
    background-color:#9ED2C6;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border-style:outset;
}


#NavBar_content_int{
    /* background-color:#54BAB9 ; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    height: 2rem;
    border-radius: 2rem;
}

