#nav{
    background-color: rgba(185, 204, 204, 0.651);
}
#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li{
    display:  inline-block;
    padding: 10px; 
    margin-left: 3rem;
    margin-right: 3rem;
}
