
#paginado{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    background-color: #E9DAC1;

}

#paginado ul li{
    display: inline-block;
    padding: 3px;
    
}

#paginado ul li button{
    background-color:#9ED2C6 ;
    /* color: #ffffff; */
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #ffffff;
    box-shadow: 0.5px 0.5px 0.5px 0px; 
    cursor: pointer;
}

.paginado_selected{
    color:#ffffff;
    border-style:dashed;

    
}



/* background-color:#54BAB9 ;
border-width: 1px;
border-radius: 0.5rem;
box-shadow: 2px 2px 5px 0px; */